<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>
    Hello <%= username %>!
</h1>
    <form method="POST">
        <input type="text" placeholder="login" name="username">
        <br>
        <input type="submit" name="submitlogin">
    </form>
</body>
</html>