<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href='css/VarelaRound.css' rel='stylesheet' type='text/css'>

    <script src="js/code.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
</head>

<body>
    <div class="container">

        <div class="container" id="auth">
            <div class="text-center" style="padding:50px 0">
                <div class="logo">login as guest</div>
                <!-- Main Form -->
                <div class="login-form-1">
                    <form id="login-form" class="text-left" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="login-form-main-message"></div>
                        <div class="main-login-form">
                            <div class="login-group">
                                <div class="form-group">
                                    <label for="lg_username" class="sr-only">Temporary Username</label>
                                    <input type="text" class="form-control" id="lg_username" name="gs_username" placeholder="Temporary Username">
                                </div>
                                <% if(errMsg) {%>
                                <div class="etc-login-form">
                                    <p style="color: red">
                                        <%= errMsg %>
                                    </p>
                                </div>
                                <% } %>
                            </div>
                            <button type="submit" class="login-button">
                                <i class="fa fa-chevron-right"></i>
                            </button>

                        </div>
                        <div class="etc-login-form">
                            <p>forgot your password?
                                <a href="forgot-password">click here</a>
                            </p>
                            <p>new user?
                                <a href="register">create new account</a>
                            </p>
                        </div>
                    </form>
                </div>
                <!-- end:Main Form -->
            </div>
        </div>

    </div>

</body>

</html>