<div class="text-center" style="padding:50px 0">
    <div class="logo">login as guest</div>
    <!-- Main Form -->
    <div class="login-form-1">
        <form id="anonymous-form" class="text-left">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="gs_username" class="sr-only">Temporary Username</label>
                        <input type="text" class="form-control" id="gs_username" name="gs_username" placeholder="Temporary Username">
                    </div>
                </div>
                <button type="submit" class="login-button">
                    <i class="fa fa-chevron-right"></i>
                </button>

            </div>
        </form>
        <button class="ch-button" id="btn-login">Login</button>
        <button class="ch-button" id="btn-create">Create new account</button>
        <button class="ch-button" id="btn-forgot">Forgot my password</button>
    </div>
    <!-- end:Main Form -->
</div>