<div id="board-container">
    <div id="board"></div>
    <div id="seat-container">
        <button id="seat-white" class="opt-button"></button>
        <button id="seat-black" class="opt-button"></button>
        <button id="ready" class="opt-button">Ready</button>
    </div>
</div>

<div id="chat">
    <div id="game-options">
        <button id="btn-resign" class="opt-button" style="float:left" >Resign</button>
        <button id="btn-leave-room" class="opt-button" style="float:right">Leave room</button>
    </div>
    
    <div class="col-sm-12 col-sm-offset-4 frame" id="chat-container">
        <ul></ul>
        <div>
            <div class="msj-rta macro" style="margin:auto">
                <div class="text text-r" style="background:whitesmoke !important">
                    <input class="mytext" placeholder="Type a message" />
                </div>
            </div>
        </div>
    </div>
    <div id="game-info">
        <div id="game-move">Move:</div>
    </div>
</div>