<div id="room-properties">
    <label for="room-name" class="sr-only">Room name</label>
    <input id="room-name" class="form-control" placeholder="Room name">
</div>
<div id="create-room-options">
    <button class="opt-button" id="create-room-create-btn" style="float: left">Create</button>
    <button class="opt-button" id="create-room-cancel-btn" style="float: right">Cancel</button>
</div>