<div class="text-center" style="padding:50px 0">
    <div class="logo">forgot password</div>
    <div class="login-form-1">
        <form id="forgot-password-form" class="text-left" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="etc-login-form">
                <p>Sorry, this actually doesn't work.</p>
            </div>
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="fp_email" class="sr-only">Email address</label>
                        <input type="text" class="form-control" id="fp_email" name="fp_email" placeholder="email address" disabled>
                    </div>
                </div>
                <button type="submit" class="login-button" disabled>
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </form>
        <button class="ch-button" id="btn-anonymous">Continue as anonymous user</button>
        <button class="ch-button" id="btn-login">Login</button>
        <button class="ch-button" id="btn-create">Create new account</button>
    </div>
</div>