<div id="room-list-options">
    <button class="opt-button" id="room-create-btn" style="float: left">Create room</button>
    <button class="opt-button" id="room-refresh-btn" style="float: right">Refresh</button>
</div>
<div id="room-list">
</div>